@import './base.css';
@import '../tokens/colors.css';

@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-display: fallback;
 src: url("fonts/Roboto-Regular.ttf") format("ttf");
}

:root{
 font-family: "Roboto";

}
